<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
    <label>Airline:</label>
        <select name="airline">
            <option value="American">'Merica</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
        <br>
    <label>Airport:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <br>
    <label>Flight Number:</label>
        <input name="flightNo" type="number" placeholder="Enter number between 20 and 9999">
        <br>
    <label>Departs:</label>
        <input name="departs" type="datetime-local">
        <br>
    <input type="submit" value="ADD A FLIGHT TO THE INDEX LIST IN THE APP">
</form>


<%- include('../partials/footer') %>